<style>

body{
    color: #52528C;
    background-color: #52528C;
}

#description {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 100;
    background-color: black;
    color: #7C9EB2;
}

h1{
    text-align: center;
    background-color: #372554;
    color: #7C9EB2;
    padding: 20px 40px 20px 40px;
}
div {
    text-align: center;
  }
ul{
    font-style: italic;
    font-size: 14px;

}
#up{
    color: black;
    background-color: #231123;
    padding: 15px 30px;
    text-decoration: none;
}

</style>