/* .main_content_container2 {
} */

.About_me {
  display: none;
}

.content1 {
  display: flex;
  margin-top: 15%;
  gap: 5px;
  justify-content: center;
}
.content2 {
  display: flex;
  margin-top: 70%;
  gap: 5px;
  justify-content: center;
}
.content3 {
  display: flex;
  margin-top: 70%;
  gap: 5px;
  justify-content: center;
}

.elA {
  font-size: 11px;
  width: 200px;
}
.elB {
  height: 200px;
  object-fit: cover;
  align-self: center;
}
.elC {
  height: 200px;
  /* margin-left: 10px; */
  object-fit: cover;
}
.elD {
  font-size: 11px;
  height: 200px;
  width: 200px;
}
.elE {
  font-size: 11px;
  height: 200px;
  width: 290px;
}
.elF {
  width: 140px;
  object-fit: cover;
}

@media screen and (min-width: 736px) {
  .content1 {
    display: flex;
    margin-top: 15%;
    gap: 15px;
    align-content: center;
    justify-content: center;
  }
  .content2 {
    display: flex;
    margin-top: 15%;
    gap: 15px;
    justify-content: center;
    align-content: center;
  }
  .content3 {
    display: flex;
    margin-top: 15%;
    gap: 15px;
    align-content: center;
    justify-content: center;
  }
  
  .elA {
    font-size: 20px;
    align-self: center;
    justify-self: center;
    width: 300px;
    width: 45%;
  }
  .elB {
    height: 500px;
    object-fit: cover;
    width: 45%;
  }
  .elC {
    height: 700px;
    /* margin-left: 10px; */
    /* width: 45%; */
  }
  .elD {
    font-size: 20px;
    align-self: center;
    justify-self: center;
    height: fit-content;
    
    width: 350px;
    width: 45%;
  }
  .elE {
    font-size: 20px;
    align-self: center;
    height: fit-content;
    width: 300px;
    width: 45%;
  }
  .elF {
    object-fit: cover;
    width: 47%;
  }
}

@media screen and (min-width: 870px) {
  .About_me {
    display: block;
    font-size: 28px;
    width: 30%;
    margin-left: 37%;
    justify-content: center;
    margin-top: 3%;
  }
}