.main_content_container5 {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
  justify-content: space-evenly;
};

.message {
  width: 100%;
  height: 100%;
};

.message_container {
  height: 600px;
}

#name {
  height: 40px;
  width: 250px;
}

#email {
  width: 300px;
}

.link_button {
  width: 120px;
  font-weight: bold;
  justify-content: space-evenly;
}

.link_button img {
  height: 30px;
}

.send {
  height: 40px;
}

@media screen and (min-width: 736px) {
  #email {
    margin-top: -30px;
    width: 330px;
    height: 40px;
    font-size: 16px;
  }
  .message {
    margin-top: -30px;
    font-size: 16px;
    padding-inline: 20px;
    width: 100%;
  };
  #name {
    width: 270px;
    height: 40px;
  }
  .main_content_container5 {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10%;
    gap: 55px;
    height: 800px;
    width:600px;
    padding-inline: 50px;
    padding-block: 30px;
  };
  .link_button img {
    height: 50px;
  }
  .emailText {
    font-size: 20px;
  }
  .send {
    height: 55px;
    /* padding-block: 20px; */
    font-size: 20px;
  }
}