.desc_pic img {
  width: 45%;
  margin-top: 0.75rem;
  object-fit: cover;
}

#iconLink1 {
  margin-inline: 10px;
}
#iconLink2 {
  margin-inline: 10px;
}

.mediaLinks {
  justify-self: center;
}

.iconLink {
  font-size: 1.25rem/* 20px */;
  width: 3rem;
}

.linkContainer {
  width: 300px;
  height: 50px;
}

#title {
  margin-inline: 20px;
  font-size: 20px;
}

#description {
  height: max-content;
  margin-inline: 10px;
}

.desc_pic {
  display: flex;
}

.main_content_container {
  display: flex;
  overflow: hidden;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  min-height: 600px;
  /* min-width: 375px; */
}

@media screen and (min-width: 736px) {
  
  .main_content_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }

  #title {
    font-size: 3rem;
    height: 100px;
    width: 500px;
  }
  .iconLink {
    width: 6rem;
    height: 60px;
  }
  .desc_pic img {
    width: fit-content;
    height: 700px;
  }
  .description {
    font-size: 28px;
    width: 600px;
    margin: 20%;
  }
  .linkContainer {
    width: 400px;
    height: 65px;
    font-size: 20px;
  }

  .mediaLinks {
    display: flex;
  }
}