#profile-pic {
  grid-area: profile;
  height: 200px;
  margin-top: 0.75rem;
}

#iconLink1 {
  margin-inline: 10px;
  grid-area: link1;
}
#iconLink2 {
  margin-inline: 10px;
  grid-area: link2;
}

.mediaLinks {
  grid-area: mediaLinks;
  justify-self: center;
}

.iconLink {
  font-size: 1.25rem/* 20px */;
  width: 3rem;
}

.linkContainer {
  width: 300px;
  height: 50px;
}

#title {
  grid-area: name;
  margin-inline: 20px;
  font-size: 20px;
}

#description {
  grid-area: desc;
  margin-inline: 10px;
}

.main_content_container {
  display: grid;
  gap: 5px;
  grid-template-areas: 
    'name name name name name'
    'name name name name name'
    'desc profile profile profile profile'
    'desc profile profile profile profile'
    'desc profile profile profile profile'
    'desc profile profile profile profile'
    'mediaLinks mediaLinks mediaLinks . .'
    'mediaLinks mediaLinks mediaLinks . .'
  ;
}

@media screen and (min-width: 736px) {
  
    .main_content_container {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
    }

  #title {
    font-size: 3rem;
    height: 100px;
    width: 500px;
  }
  .iconLink {
    width: 6rem;
    height: 60px;
  }
  #profile-pic {
    width: fit-content;
    height: 700px;
  }
  .description {
    font-size: 28px;
    width: 600px;
  }
  .linkContainer {
    width: 400px;
    height: 65px;
    font-size: 20px;
  }

  .mediaLinks {
    display: flex;
  }
}