.hard_skills_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "hard_skills_title"
    "icon_container0h icon_container1h icon_container2h icon_container3h icon_container4h icon_container5h"
    "icon_container6h icon_container7h icon_container8h icon_container9h icon_container10h icon_container11h";
  width: 80%;
  gap: 10px;
};

.soft_skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "soft_skills_title"
    "icon_container0s icon_container1s icon_container2s icon_container3s icon_container4s icon_container5s";
  width: 80%;
  gap: 10px;
};
