.hard_skills_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1/2fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  'hard_skills_title hard_skills_title'
  "icon_container0h icon_container1h" "icon_container2h icon_container3h" "icon_container4h icon_container5h"
  "icon_container6h icon_container7h" "icon_container8h icon_container9h" "icon_container10h icon_container11h";
  gap: 5%;
  justify-items: center;
  margin-top: 10%;
  /* 
  margin-left: 10px;
  margin-right: 10%;
  margin-bottom: 0%; */
}

.main_content_container4 {
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  flex-direction: column;
  height: auto;
}

.hard_skills_title {
  grid-area: hard_skills_title;
};
.icon_container0h {
  grid-area: icon_container0h;
}

.icon_container1h {
  grid-area: icon_container1h;
}

.icon_container2h {
  grid-area: icon_container2h;
}

.icon_container3h {
  grid-area: icon_container3h;
}

.icon_container4h {
  grid-area: icon_container4h;
}

.icon_container5h {
  grid-area: icon_container5h;
}

.icon_container6h {
  grid-area: icon_container6h;
}

.icon_container7h {
  grid-area: icon_container7h;
}

.icon_container8h {
  grid-area: icon_container8h;
}

.icon_container9h {
  grid-area: icon_container9h;
}

.icon_container10h {
  grid-area: icon_container10h;
}

.icon_container11h {
  grid-area: icon_container11h;
}

.skill_name {
  text-align: center;
}

@media screen and (min-width: 706px) {
  .hard_skills_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1/2fr 1fr 1fr;
    grid-template-areas: 
    'hard_skills_title hard_skills_title hard_skills_title hard_skills_title'
    "icon_container0h icon_container1h icon_container2h icon_container3h"
    "icon_container4h icon_container5h icon_container6h icon_container7h"
    "icon_container8h icon_container9h icon_container10h icon_container11h";
    gap: 5%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    justify-items: center;
  }

  .hard_skills_title {
    width: 48%;
  };
}

@media screen and (min-width: 1124px) {
  .hard_skills_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1/2fr 1fr 1fr;
    grid-template-areas: 
    'hard_skills_title hard_skills_title hard_skills_title hard_skills_title hard_skills_title hard_skills_title'
    "icon_container0h icon_container1h icon_container2h icon_container3h icon_container4h icon_container5h"
    "icon_container6h icon_container7h icon_container8h icon_container9h icon_container10h icon_container11h";
    gap: 5%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    justify-items: center;
  }

  .hard_skills_title {
    width: 48%;
  };
}